<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accountant</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <style>
        .text {background-color: #eeece4; size: 3}
        .main-style {background-color: #72bccd; color: white; font-weight:bold;}
        .link_bar a {font-size:18px; font-weight:bold; float:justify; }
        .link_bar a:visited {font-size:18px; color: white;}
        .link_bar a:active {font-size:18px; color: #2780DB; }
        .button-style {background-color: #72bccd; color: white; font-size: 18px; border: 3px solid #C7C9CA ;}
    </style>
</head>

<body>
<div class="main-style text-center">
    <h1><strong><font face = "Comic sans MS">Accountant</font></strong></h1>
    <i><font size="4">Twój prosty system księgowy !</font></i>
    <div style="background-color: #72bccd"><br></div>
    <div class="divider"></div>
</div>

<div class=container">
  <div class="columns">
    <div class="column col-2 main-style" >
        <div style="font-size:24px; text-align: center;">MENU</div>
        <br>
        <ul class="link_bar">
            <li><a href={{url_for("main_page")}}>Strona główna</a></li>
            <li><a href={{url_for("saldo_page")}}>Zmiana stanu konta</a></li>
            <li><a href={{url_for("zakup_page")}}>Zakup produktu</a></li>
            <li><a href={{url_for("sprzedaz_page")}}>Sprzedaż produktu</a></li>
            <li><a href={{url_for("historia_page")}}>Historia operacji</a></li>
        </ul>
    </div>
    <div class="divider-vert"></div>
    <div class="column col-9.5 text text-center">
        <h5><br>Podsumowanie historii akcji wykonywanych na Twoim koncie:</h5>
            <div class="p-centered">
                <table class="table">
                  <thead>
                    <tr>
                        <th>Akcja</th>
                        <th>Komendy</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for result in results %}
                        <tr class="active">
                            <td>{{result[0]}}</td>
                            <td>{{result[1]}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table><br>
            </div>
        <div>W celu ograniczenia wyświetlanych rekordów wybierz interesujący Cię zakres listy:<br><br></div>
            <form class="form-group text-left" method="post" action="/historia/resp">
                <div class="col-2 p-centered">
                    <label class="form-label" for="first_idx">Indeks początkowy</label>
                    <input class="form-input" type="number" id="first_idx" name="first_idx"
                           placeholder="Wpisz indeks początkowy">
                    <label class="form-label" for="second_idx">Indeks końcowy</label>
                    <input class="form-input" type="number" id="second_idx" name="second_idx"
                           placeholder="Wpisz indeks końcowy">
                    <br>
                </div>
                    <button type="submit" class="button-style p-centered">Wyświetl listę akcji</button><br><br>
            </form>
        </div>
    </div>
  </div>
</div>

</body>
</html>