<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accountant</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <style>
        .text {background-color: #eeece4; size: 3; }
        .main-style {background-color: #72bccd; color: white; font-weight:bold;}
        .link_bar a {font-size:18px; font-weight:bold; float:justify; }
        .link_bar a:visited {font-size:18px; color: white;}
        .link_bar a:active {font-size:18px; color: #2780DB; }
    </style>
</head>

<body>
<div class="main-style text-center">
    <h1><strong><font face = "Comic sans MS">Accountant</font></strong></h1>
    <i><font size="4">Twój prosty system księgowy !</font></i>
    <div style="background-color: #72bccd"><br></div>
    <div class="divider"></div>
</div>

<div class=container">
  <div class="columns">
    <div class="column col-2 main-style" >
        <div style="font-size:24px; text-align: center;">MENU</div>
        <br>
        <ul class="link_bar">
            <li><a href={{url_for("main_page")}}>Strona główna</a></li>
            <li><a href={{url_for("saldo_page")}}>Zmiana stanu konta</a></li>
            <li><a href={{url_for("zakup_page")}}>Zakup produktu</a></li>
            <li><a href={{url_for("sprzedaz_page")}}>Sprzedaż produktu</a></li>
            <li><a href={{url_for("historia_page")}}>Historia operacji</a></li>
        </ul>
    </div>
    <div class="divider-vert"></div>
    <div class="column col-9.5 text text-center">
        <p class="text-bold"><font size="4">Witaj w Twoim panelu sterowania systemu Accountant !!!</font></p>
        <div>Poniżej możesz sprawdzić aktualny stan konta oraz Twoje stany magazynowe.<br>
        W celu zaktualizowania konta o wpłaty lub wypłaty, sprzedaż lub zakup nowego produktu <br>
             oraz w celu sprawdzenia historii wykonywanych operacji
            skorzystaj z odpowiedniej opcji w <br> <strong>MENU</strong>.
            <br>
            <br>
            <br>
            <br>
        </div>
        <div>
            <h3>Twój aktualny stan konta:</h3>
            <h2>{{balance}} PLN</h2>
            <br>
            <br>
        </div>
        <div>
           <h3>Aktualny stan magazynu:</h3>
            {% if products is defined and products|length > 0 %}
                <table class="column table table-striped table-hover p-centered">
                  <thead>
                    <tr>
                      <th class="col-2">Produkt</th>
                      <th class="col-2">Liczba sztuk na magazynie</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for product in products %}
                    <tr class="active">
                            <td>{{product[0]}}</td>
                            <td>{{product[1]}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            {% else %}
                <span class="label error-primary">Aktualnie magazyn jest pusty</span>
            {% endif %}
        </div>
    </div>
  </div>
</div>

</body>
</html>