<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accountant</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <style>
        .text {background-color: #eeece4; size: 3; }
        .main-style {background-color: #72bccd; color: white; font-weight:bold;}
        .link_bar a {font-size:18px; font-weight:bold; float:justify; }
        .link_bar a:visited {font-size:18px; color: white;}
        .link_bar a:active {font-size:18px; color: #2780DB; }
        .button-style {background-color: #72bccd; color: white; font-size: 18px; border: 3px solid #C7C9CA ;}
    </style>
</head>

<body>
<div class="main-style text-center">
    <h1><strong><font face = "Comic sans MS">Accountant</font></strong></h1>
    <i><font size="4">Twój prosty system księgowy !</font></i>
    <div style="background-color: #72bccd"><br></div>
    <div class="divider"></div>
</div>

<div class=container">
  <div class="columns">
    <div class="column col-2 main-style" >
        <div style="font-size:24px; text-align: center;">MENU</div>
        <br>
        <ul class="link_bar">
            <li><a href={{url_for("main_page")}}>Strona główna</a></li>
            <li><a href={{url_for("saldo_page")}}>Zmiana stanu konta</a></li>
            <li><a href={{url_for("zakup_page")}}>Zakup produktu</a></li>
            <li><a href={{url_for("sprzedaz_page")}}>Sprzedaż produktu</a></li>
            <li><a href={{url_for("historia_page")}}>Historia operacji</a></li>
        </ul>
    </div>
    <div class="divider-vert"></div>
    <div class="column col-9.5 text text-center">
        <h5><br>W celu sprzedaży produktu z magazynu wypełnij i prześlij poniższy formularz:</h5>
        <form class="form-group text-left" method="post" action="/resp/">
            <div class="col-9 col-sm-5">
                <input class="form-input" type="hidden" id="action" name="action"
                   value="sprzedaz">
                <label class="form-label" for="product">Nazwa produktu</label>
                <input class="form-input" type="text" id="product" name="product"
                   placeholder="Podaj nazwę produktu, który chcesz sprzedać">
                <label class="form-label" for="price">Cena</label>
                <input class="form-input" type="number" id="price" name="price"
                   placeholder="Podaj jednostkową cenę sprzedaży">
                <label class="form-label" for="amount">Liczba sztuk</label>
                <input class="form-input" type="number" id="amount" name="amount"
                   placeholder="Podaj ilość sztuk produktu">
            </div>
            <br>
            <button type="submit" class="button-style">Prześlij formularz</button><br><br>
        </form>
        {% if error is defined %}
        <div class="toast toast-error">
                  {{error}}
        </div>
        {% endif %}
    </div>
  </div>
</div>

</body>
</html>